@model IEnumerable<WebApplication6.Models.PermisosYRoles>

@{ 
      Layout = null;
}
<div class="container border">
    <h2 class="text-center">Menu de Roles</h2>

    <p>
        @Html.ActionLink("Crear Nueva Permiso para el Rol", "Create", null, new { @class = "btn btn-primary" })
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id_Rol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id_Permiso)
            </th>
            <th class=""> </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdentityRole.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Permisos.NombrePermiso)
                </td>
                <td>

                    @Html.ActionLink("Borrar", "Delete", new { id = item.Id },new { @class="btn btn-outline-danger"})
                </td>
            </tr>
        }

    </table>

</div>
