@model WebApplication6.Models.TPMedicacion

@{
    ViewBag.Title = "Edit";
}
<div class="container">
    <hr />
    <h2>Editar Tipo <b>@Model.Str_Tipo</b></h2>
    <hr />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                @Html.LabelFor(model => model.Str_Tipo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Str_Tipo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Str_Tipo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Guardar" class="btn btn-success" />                |
                    @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-dark" })
                </div>
            </div>
        </div>
    }

</div>
