@model WebApplication6.Models.PeriodosEscolares

@{
    Layout = null;
}


<div class="m-4">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Formulario de edicion</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id_Periodo)
        <div class="form-group">
            @Html.LabelFor(model => model.Nombre_Periodo, htmlAttributes: new { @class = "control-label " })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre_Periodo, new { htmlAttributes = new { @class = "form-control ", @readonly = "" } })
                @Html.ValidationMessageFor(model => model.Nombre_Periodo, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DiaSemana, htmlAttributes: new { @class = "control-label" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DiaSemana, new { htmlAttributes = new { @class = "form-control", @readonly = "" } })
                @Html.ValidationMessageFor(model => model.DiaSemana, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InicioPeriodo, htmlAttributes: new { @class = "control-label " })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InicioPeriodo, new { htmlAttributes = new { @class = "form-control", type = "time", min = "07:00", required = "" } })
                @Html.ValidationMessageFor(model => model.InicioPeriodo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FinPeriodo, htmlAttributes: new { @class = "control-label " })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FinPeriodo, new { htmlAttributes = new { @class = "form-control", type = "time" } })
                @Html.ValidationMessageFor(model => model.FinPeriodo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 text-md-center">
                <input type="submit" value="Guardar" class="btn btn-success" />
            </div>
        </div>
    </div>
    }

</div>
