@model IEnumerable<WebApplication6.Models.PeriodosEscolares>
<div class="container">
    <hr />
    <p>
        @Html.ActionLink("Crear un periodo", "Create", null, new { @class = "btn btn-success", data_modal = "" })
    </p>

    <h3 class="text-center tab-pane">Calendario del Colegio</h3>
    <div class="row">

        <div class="overflow-auto m-1 table-info" style="width:12rem;">
            <h4 class="text-center"> Lunes </h4>
            @foreach (var item in Model.Where(x => x.DiaSemana == "Lunes"))
            {
                <div class="">

                    <div class="card" style="">
                        <div class="card-body">
                            <h5 class="card-title">@item.Nombre_Periodo</h5>
                            <h6 class="card-subtitle mb-2 text-muted">@Html.ActionLink("Editar", "Edit", new { id = item.Id_Periodo }, new { @class = "", data_modal = "" })</h6>
                            <p class="card-text"></p>
                            <span class="border border-primary p-2">
                            <a  class="card-link">@item.InicioPeriodo -</a>
                            
                            <a  class="card-link"> - @item.FinPeriodo</a>
                            </span>
                        </div>
                    </div>
                </div>

            }
            @if (Model.Where(x => x.DiaSemana == "Lunes").Count() == 0)
            {
                <div class="alert alert-danger">No hay Periodo</div>
            }
        </div>
        <div class="overflow-auto m-1 table-primary" style="width:12rem;">
            <h4 class="text-center"> Martes </h4>
            @foreach (var item in Model.Where(x => x.DiaSemana == "Martes"))
            {
                <div class="">

                    <div class="card" style="">
                        <div class="card-body">
                            <h5 class="card-title">@item.Nombre_Periodo</h5>
                            <h6 class="card-subtitle mb-2 text-muted">@Html.ActionLink("Editar", "Edit", new { id = item.Id_Periodo }, new { @class = "", data_modal = "" })</h6>
                            <p class="card-text"></p>
                            <a  class="card-link">@item.InicioPeriodo</a>
                            <a  class="card-link">@item.FinPeriodo</a>
                        </div>
                    </div>
                </div>

            }
            @if (Model.Where(x => x.DiaSemana == "Martes").Count() == 0)
            {
                <div class="alert alert-danger">No hay Periodo</div>
            }
        </div>
        <div class="overflow-auto m-1 table-info" style="width:12rem;">
            <h4 class="text-center"> Miercoles </h4>
            @foreach (var item in Model.Where(x => x.DiaSemana == "Miercoles"))
            {
                <div class="">

                    <div class="card" style="">
                        <div class="card-body">
                            <h5 class="card-title">@item.Nombre_Periodo</h5>
                            <h6 class="card-subtitle mb-2 text-muted">@Html.ActionLink("Editar", "Edit", new { id = item.Id_Periodo }, new { @class = "", data_modal = "" })</h6>
                            <p class="card-text"></p>
                            <a  class="card-link">@item.InicioPeriodo</a>
                            <a  class="card-link">@item.FinPeriodo</a>
                        </div>
                    </div>
                </div>

            }
            @if (Model.Where(x => x.DiaSemana == "Miercoles").Count() == 0)
            {
                <div class="alert alert-danger">No hay Periodo</div>
            }
        </div>
        <div class="overflow-auto m-1 table-primary" style="width:12rem;">
            <h4 class="text-center"> Jueves </h4>
            @foreach (var item in Model.Where(x => x.DiaSemana == "Jueves"))
            {
                <div class="">

                    <div class="card" style="">
                        <div class="card-body">
                            <h5 class="card-title">@item.Nombre_Periodo</h5>
                            <h6 class="card-subtitle mb-2 text-muted">@Html.ActionLink("Editar", "Edit", new { id = item.Id_Periodo }, new { @class = "", data_modal = "" })</h6>
                            <p class="card-text"></p>
                            <a  class="card-link">@item.InicioPeriodo</a>
                            <a  class="card-link">@item.FinPeriodo</a>
                        </div>
                    </div>
                </div>

            }
            @if (Model.Where(x => x.DiaSemana == "Jueves").Count() == 0)
            {
                <div class="alert alert-danger">No hay Periodo</div>
            }
        </div>
        <div class="overflow-auto m-1 table-info" style="width:12rem;">
            <h4 class="text-center"> Viernes </h4>
            @foreach (var item in Model.Where(x => x.DiaSemana == "Viernes"))
            {
                <div class="">

                    <div class="card" style="">
                        <div class="card-body">
                            <h5 class="card-title">@item.Nombre_Periodo</h5>
                            <h6 class="card-subtitle mb-2 text-muted">@Html.ActionLink("Editar", "Edit", new { id = item.Id_Periodo }, new { @class = "", data_modal = "" })</h6>
                            <p class="card-text"></p>
                            <a  class="card-link">@item.InicioPeriodo</a>
                            <a  class="card-link">@item.FinPeriodo</a>
                        </div>
                    </div>
                </div>

            }
            @if (Model.Where(x => x.DiaSemana == "Viernes").Count() == 0)
            {
                <div class="alert alert-danger">No hay Periodo</div>
            }
        </div>

    </div>
    <div class="row">
        <div class="overflow-auto m-1 table-info" style="width:12rem;">
            <h4 class="text-center"> Sabado </h4>
            @foreach (var item in Model.Where(x => x.DiaSemana == "Sabado"))
            {
                <div class="">

                    <div class="card" style="">
                        <div class="card-body">
                            <h5 class="card-title">@item.Nombre_Periodo</h5>
                            <h6 class="card-subtitle mb-2 text-muted">@Html.ActionLink("Editar", "Edit", new { id = item.Id_Periodo }, new { @class = "", data_modal = "" })</h6>
                            <p class="card-text"></p>
                            <a  class="card-link">@item.InicioPeriodo</a>
                            <a  class="card-link">@item.FinPeriodo</a>
                        </div>
                    </div>
                </div>

            }
            @if (Model.Where(x => x.DiaSemana == "Sabado").Count() == 0)
            {
                <div class="alert alert-danger">No hay Periodo</div>
            }
        </div>
        <div class="overflow-auto m-1 table-info" style="width:12rem;">
            <h4 class="text-center"> Domingo </h4>
            @foreach (var item in Model.Where(x => x.DiaSemana == "Domingo"))
            {
                <div class="">

                    <div class="card" style="">
                        <div class="card-body">
                            <h5 class="card-title">@item.Nombre_Periodo</h5>
                            <h6 class="card-subtitle mb-2 text-muted">@Html.ActionLink("Editar", "Edit", new { id = item.Id_Periodo }, new { @class = "", data_modal = "" })</h6>
                            <p class="card-text"></p>
                            <a  class="card-link">@item.InicioPeriodo</a>
                            <a  class="card-link">@item.FinPeriodo</a>
                        </div>
                    </div>
                </div>

            }
            @if (Model.Where(x => x.DiaSemana == "Domingo").Count() == 0)
            {
                <div class="alert alert-danger">No hay Periodo</div>
            }
        </div>
    </div>



</div>
