@model WebApplication6.Models.IndexViewModel
@using WebApplication6.Models;
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.Owin;
    <br />
@{
    ViewBag.Title = "Pagina de Administrar";
}
@{
    var permiso = User.Identity.IsAuthenticated;
    ApplicationDbContext db = new ApplicationDbContext();
    string rol = "";
    if (permiso == true)
    {

        var usuario = db.Users.Find(User.Identity.GetUserId());
        foreach (var item in usuario.Roles)
        {
            rol = item.RoleId.ToString();
        }

    }
}



<div class="container">
    <h2 class="display-4">@ViewBag.Title.</h2>

    <p class="text-success">@ViewBag.StatusMessage</p>
    <div>
        <br />
        <h3>El rol del usuario es @Html.ActionLink(db.Roles.Where(x => x.Id == rol).First().Name, "") </h3>
        @{Html.RenderAction("Details", "OpcionesDeColegios");}
        <br />
        <h4>Cambiar la configuración de la cuenta</h4>
        <hr />
        <dl class="dl-horizontal bg-light">
            <dt>Contraseña:</dt>
            <dd>
                [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Cambiar la contraseña", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Crear", "SetPassword")
                }
                ]
            </dd>

        </dl>
    </div>

</div>

