@model IEnumerable<WebApplication6.Models.Materias>

@{
    ViewBag.Title = "Index";
}
    <div class="container">
        <hr />
        <h2 class="text-center alert alert-dark">Materias</h2>
        <hr />
        <div class="row">
            @Html.ActionLink("Crear Nueva Materia", "Create", null, new { @class = "btn btn-primary", data_modal = "" })
            <div class="col-md-10">
                <input type="text" name="name" value="" placeholder="Busqueda por nombre de materia" class="form-control" id="Codi" />
            </div>
        </div>
        <br />
        <table class="table table-hover">
            <tr class="bg-info">
                <th>
                    @Html.DisplayNameFor(model => model.Codigo_Materia)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre_Materia)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Codigo_Materia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre_Materia)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.Id },new {data_modal="" }) |
                        @Html.ActionLink("Borrar", "Delete", new { id = item.Id },new {data_modal="" })
                    </td>
                </tr>
            }

        </table>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script>
            $("#Codi").on("keyup", function () {
                var txtenter = $(this).val();
                $("table tr").each(function (results) {
                    if (results !== 0) {
                        var id = $(this).find("td:nth-child(2)").text();
                        if (id.indexOf(txtenter) !== 0 && id.toLowerCase().indexOf(txtenter.toLowerCase()) < 0) {
                            $(this).hide();
                        } else {
                            $(this).show();

                        }
                    }

                });
            });
        </script>
    </div>

