@model WebApplication6.Models.ControlDisciplinario

@{
    ViewBag.Title = "Edit";
}
<div class="container">
    <hr />
    <h2 class="alert alert-success">Editar Control Disciplinario del estudiante</h2>
    <hr />

    @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id_Control)

            <div class="form-group">
                @Html.LabelFor(model => model.Fecha_Emision, htmlAttributes: new { @class = "control-label" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Fecha_Emision, new { htmlAttributes = new { @class = "form-control date", Value = @String.Format("{0:yyyy-MM-dd}", Model.Fecha_Emision) } })
                    @Html.ValidationMessageFor(model => model.Fecha_Emision, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group text-md-center">
                <div class="col-md-offset-2">
                    <input type="submit" value="Guardar" class="btn btn-success" />
                </div>
            </div>
        </div>
    }


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

</div>
