@model WebApplication6.Models.EnfermedadEstudiantes

@{
    ViewBag.Title = "Delete";
}
<div class="container">
    <h3>Esta seguro de borrar esta informacion?</h3>
    <div>
        <h4>Enfermedad Estudiante de <b>@Html.DisplayFor(model => model.Estudiantes.Nombre)</b></h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Enfermedad.Str_NombreEnfermedad)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Enfermedad.Str_NombreEnfermedad)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Estudiantes.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Estudiantes.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TPMedicacion.Str_Tipo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TPMedicacion.Str_Tipo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Medicacion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Medicacion)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Borrar" class="btn btn-danger" /> |
                @Html.ActionLink("Regresar", "Index", new { id = Model.Id_Estudiante }, new { @class = "btn btn-dark" })
            </div>
        }
    </div>

</div>

