@model WebApplication6.Models.OpcionesDeColegio

@{
    Layout = null;
}

    <br />
    <div class=" col-4" style="background-color:#D4FCFE">
        <h3 class="text-center">Opciones Del Colegio</h3>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.MaximoEstudiantes)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MaximoEstudiantes)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NombreColegio)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NombreColegio)
            </dd>

        </dl>
        <div>
            @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-success text-md-center", data_modal = "" })
        </div>
        <br />
    </div>
