@model IEnumerable<WebApplication6.Models.Modalidades>

@{
    Layout = null;
}

<div class="container">
    <hr />
    <p>
        @Html.ActionLink("Crear nueva", "Create", null, new { @class = "btn btn-success", data_modal = "" })
    </p>
    <div class="modal-body">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Str_Modalidad)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Str_Modalidad)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.Id_Modalidad }, new { data_modal = "" }) |
                        @Html.ActionLink("Borrar", "Delete", new { id = item.Id_Modalidad }, new { data_modal = "" })
                    </td>
                </tr>
            }

        </table>

    </div>
</div>



<script src="~/Scripts/modalform.js"></script>