@model IEnumerable<WebApplication6.Models.EvaluacionesEstudiantes>

<div class="container">
    <br />
    <h2>Evaluaciones de Estudiante  </h2>
    <br />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Estudiantes.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Evaluaciones.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resultado)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Estudiantes.NombreCompleto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Evaluaciones.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Resultado)
                </td>
                <td>
                    @Html.ActionLink("Dar Resultado", "Edit", new { id = item.Id_EvaluacionesEstudiantes,idEvaluacion=item.Id_Evaluaciones },new { @class="btn btn-outline-info",data_modal=""}) 
                </td>
            </tr>
        }

    </table>
</div>
