@model WebApplication6.Models.CursoEscolar

    <div class="container">

        <hr />
        <div>
            <h4 class="text-center alert alert-secondary">Detalles del Curso Escolar</h4>
            <hr />
            <div class="row">
                <dl class="dl-horizontal m-3">
                    <dt>
                        @Html.DisplayNameFor(model => model.NombredeCurso)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.NombredeCurso)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.AniosACursar.Str_Curso)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AniosACursar.Str_Curso)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Secciones.Str_Seccion)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Secciones.Str_Seccion)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Str_Modalidad)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Str_Modalidad)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Bl_Estado)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Bl_Estado)
                    </dd>

                </dl>
                <div class="col-sm-6">
                    @{Html.RenderAction("IndexCurso", "CursoEstudiantes", new { IdCurso = Model.Id_Curso });}
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-6">
                @Html.ActionLink("Editar", "Edit", new { id = Model.Id_Curso }, new { @class = "btn btn-success",data_modal="" })
            </div>

        </div>

        <hr />
    </div>
