@model IEnumerable<WebApplication6.Models.CursoEstudiantes>

@{
    Layout = null;
}
    <div class="m-2">
        <hr />
        <h3>Estudiantes del Curso</h3>
        @if (Model.Count() == 0)
        {
            <div class="alert alert-dark">
                No hay estudiantes en el curso
            </div>
        }
        else
        {
            <table class="table">
                <tr class="table-primary">
                    <th>
                        @Html.DisplayNameFor(model => model.CursoEscolar.NombredeCurso)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Estudiantes.NombreCompleto)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CursoEscolar.NombredeCurso)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Estudiantes.NombreCompleto)
                        </td>
                        <td>
                            @Html.ActionLink("Borrar", "Delete", new { id = item.Id }, new { @class = "btn btn-danger", data_modal = "" })
                        </td>
                    </tr>
                }

            </table>
        }

    </div>

<script src="~/Scripts/modalform.js">

</script>