@model IEnumerable<WebApplication6.Models.HistorialAñosCursado>

@{
    var nom = "";
    ViewBag.Title = "Index";
    if (Model==null)
    {
    }
    else
    {
        nom = Model.First().HistorialAcademico.Estudiantes.Nombre+" "+Model.First().HistorialAcademico.Estudiantes.Apellido;
        
    }
}
<div class="container">
    <hr />
    <div>
        @if (Model != null)
        {
            <h2 class="text-center alert alert-secondary">Años cursados de @nom</h2>
        }
    </div>
    <hr />
    <div class="row">
        @Html.ActionLink("Añadir año cursado", "Create", null, new { @class = "btn btn-primary" }) |  @Html.ActionLink("Historial Academico", "Index", "HistorialAcademicoes", new { id = Model.First().HistorialAcademico.Estudiantes.Id_Estudiante }, new { @class = "btn btn-dark" })
    </div>
    <br />
    <table class="table table-hover">
        <tr class="bg-info">
            <th>
                @Html.DisplayNameFor(model => model.AniosACursar.Str_Curso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HistorialAcademico.Cod_Escuela)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechFinaly)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AniosACursar.Str_Curso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HistorialAcademico.Cod_Escuela)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechFinaly)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Borrar", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>

</div>

