@model WebApplication6.Models.Evaluaciones

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Evaluaciones</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Curso_Asignaturas.Id_Curso_Asignatura)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Curso_Asignaturas.Id_Curso_Asignatura)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Materias.Codigo_Materia)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Materias.Codigo_Materia)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Fecha_Comienzo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Fecha_Comienzo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Fecha_Final)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Fecha_Final)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Descripcion)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ValorTotal)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ValorTotal)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id_Evaluacion }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
